@page
@model University.RazorPages.Pages.Admin.Roles.IndexRolesModel
@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>
